/src
/dist
/node_modules

*.lockd
*.lock

.env
.eslintrc.config.js
.DS_Store

index.html
eslint.config.js
postcss.config.js
tsconfig.json
tsconfig.node.json
tsconfig.app.json
tsup.config.ts
vite.config.ts